# Secrets
.env
keys/
*.pem

# Python
__pycache__/
*.py[cod]
venv/
.venv/
.DS_Store

# Data (Keep folders, ignore content)
data/raw/*
data/metrics/*
data/db/*
!data/raw/.gitkeep
!data/metrics/.gitkeep
!data/db/.gitkeep

# IDEs
.vscode/
.idea/
logs/*
!logs/.gitkeep
docs/RELEASE_STRATEGY.md
